---
const {
  phone = "5493513881970", // formato internacional sin +
  message = "Hola! Quisiera consultar por un producto 👋"
} = Astro.props;

const url = `https://wa.me/${phone}?text=${encodeURIComponent(message)}`;

---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Consultar por WhatsApp"
  class="
    fixed bottom-5 right-5
    z-50
    flex items-center justify-center
    h-14 w-14
    rounded-full
    bg-[#25D366]
    text-white
    shadow-lg
    hover:bg-[#1ebe5d]
    transition
  "
>
  <i class="fa-brands fa-whatsapp text-white text-2xl"></i>

</a>
