---
import "../styles/global.css";
import WhatsAppButton from "../components/WhatsAppButton.astro";

const { title = "Cat치logo" } = Astro.props;

import "@fortawesome/fontawesome-free/css/all.min.css";

---


<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <title>{title}</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/icon_lou.png" />

        <!-- Apple Touch Icon -->
        <link rel="apple-touch-icon" href="/icon_lou.png" />

        <!-- Open Graph / Social -->
        <meta property="og:title" content={title} />
        <meta property="og:site_name" content="Cer치mica Lourdes" />
        <meta property="og:image" content="/icon_lou.png" />
        <meta property="og:type" content="website" />

        <!-- Google Font: Raleway -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"
        />
        <link
        rel="stylesheet"
        href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css"
        />

    </head>


  <body class="min-h-screen bg-slate-50 text-slate-900 flex flex-col" style="background-color:#F2F2F2; font-family: 'Raleway', sans-serif; color:#31527E;">
    <!-- Header -->
    <header class="border-b bg-white">
        <div class="mx-auto max-w-7xl px-4 py-4 flex items-center justify-center">
            
            <!-- Logo + Nombre -->
            <div class="flex items-center gap-3">
            <img
                src="/icon_lou.png"
                alt="Cer치mica Lourdes"
                class="h-20 w-20 object-contain"
            />
            </div>

      </div>
    </header>

    <!-- Main -->
    <main class="flex-1 mx-auto w-full max-w-7xl px-4 py-8">
      <slot />
    </main>

    <!-- Footer -->
    <footer class="border-t bg-white">
      <div class="mx-auto max-w-7xl px-4 py-6 text-sm text-slate-500">
        춸 {new Date().getFullYear()} Cer치mica Lourdes
      </div>
    </footer>

    <WhatsAppButton 
        phone="5493513881970"
        message="Hola! Estoy viendo el cat치logo y quisiera hacer una consulta 游땕"
    />

  </body>
</html>
